rule 36 {
    action accept
    protocol udp
    destination {
        port 67
        address {{ networking.networks.services.hosts.dhcp | ansible.utils.ipaddr('address') }}
    }
    source {
        port 68
    }
}