{# Always keep one extra linebreak #}
{% include '_includes/interfaces.j2' %}

{% include '_includes/nat.j2' %}

{% include '_includes/services.j2' %}

{% include '_includes/system.j2' %}

{% include '_includes/vrf.j2' %}

{% include '_includes/firewall.j2' %}
