{
"Dhcp4": {
    "interfaces-config": {
        "interfaces": [ "eth1" ],
        "dhcp-socket-type": "udp"
    },
    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/run/kea/kea4-ctrl-socket"
    },
    "lease-database": {
        "type": "memfile",
        "lfc-interval": 3600
    },
    "calculate-tee-times": true,
    "valid-lifetime": 3600,
    "option-data": [
        {%- set dns_ip =  networking.networks.services.hosts.dns | ansible.utils.ipaddr('address') -%}
        {
            "name": "domain-name-servers",
            "data": "{{ dns_ip }}",
            "always-send": true
        },
        {
            "name": "domain-search",
            "data": "{{ all_secrets.tld.internal }}"
        },
        {
            "name": "v4-dnr",
            "data": "1, dns.{{ all_secrets.tld.internal }}., {{ dns_ip }}, alpn=dot\\,doq",
            "always-send": true
        }
    ],
    "subnet4": [
        {# piping because we dont want a comma in the last item #}
        {% for v in networking.networks.values() | rejectattr('dhcp', 'undefined') | rejectattr('dhcp', 'false') -%}
        {% set st_range = v.network 
            | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(10) | ansible.utils.ipaddr('address') -%}
        {% set en_range = v.network 
            | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(200) | ansible.utils.ipaddr('address') -%}

        {
            "id": {{ loop.index }},
            "subnet": "{{ v.network }}",
            "pools": [ { "pool": "{{ st_range }} - {{ en_range }}" } ],
            "option-data": [
                {
                    "name": "routers",
                    "data": "{{ v.network | ansible.utils.ipaddr('last_usable') | ansible.utils.ipaddr('address') }}"
                }
            ]
        }{{", " if not loop.last else "" }}
        {% endfor -%}
    ],
    "loggers": [
    {
        "name": "kea-dhcp4",
        "output_options": [
            {
                "output": "syslog",
                "pattern": "%-5p %m\n",
                "flush": false
            }
        ],
        "severity": "INFO",
        "debuglevel": 0
    }
  ]
}
}
