rule 5 {
  action accept
  protocol icmp
  description "Permitir Echo Requests"
  icmp {
    type 8
    code 0
  }
}

rule 10 {
    action accept
    protocol udp
    description "Permitir acesso ao NTP Interno"
    destination {
        port 123
        address {{ server_vyos_hosts['ntp-01'].address | ansible.utils.ipaddr('address') }}
    }
}
