dns.{{ all_secrets.tld.internal }}:443 {
    reverse_proxy 127.0.0.1:8080
    tls /etc/letsencrypt/live/dns.{{ all_secrets.tld.internal }}/fullchain.pem /etc/letsencrypt/live/dns.{{ all_secrets.tld.internal }}/privkey.pem
}