interfaces {
    bonding bond1 {
        member {
            interface eth0
            interface eth1
            interface eth2
        }
        mii-mon-interval 100
        mode 802.3ad
        {% for k, v in networking.networks.items() -%}
        {% if k != 'wan' and k != 'self' -%}
        {% set address = v.network | ansible.utils.ipaddr('last_usable') -%}
        {% set prefix = v.network | ansible.utils.ipaddr('prefix') -%}
        vif {{ v.vid }} {
            address {{ address }}/{{ prefix }}
            vrf {{ k }}
        }
        {% endif -%}
        {% endfor -%}
    }
    ethernet eth0 {
        hw-id 0c:c4:7a:58:64:85
        offload {
            gro
            gso
            sg
            tso
        }
    }
    ethernet eth1 {
        hw-id 0c:c4:7a:58:64:86
        offload {
            gro
            gso
            sg
            tso
        }
    }
    ethernet eth2 {
        hw-id 0c:c4:7a:58:64:87
        offload {
            gro
            gso
            sg
            tso
        }
    }
    ethernet eth3 {
        hw-id b4:96:91:98:12:02
        offload {
            gro
            gso
            sg
            tso
        }
    }
    loopback lo {
    }
    bridge br1 {
        enable-vlan
        member {
            interface eth3 {
                allowed-vlan 10
            }
        }
        vif 10 {
            vrf wan
        }
    }
    pppoe pppoe0 {
        authentication {
            password {{ pppoe.password }}
            username {{ pppoe.username }}
        }
        source-interface br1.10
        no-peer-dns 
        ip {
            adjust-mss clamp-mss-to-pmtu
        }
        vrf wan
    }
}
service {
    ssh {
        listen-address {{ networking.networks.management.network | ansible.utils.ipaddr('last_usable') }}
        vrf management
    }
    dhcp-relay {
        {% for k, i in networking.networks.items() -%}
        {% if (i.dhcp is defined) and (i.dhcp) -%}
        listen-interface bond1.{{ i.vid }}
        {% endif -%}
        {% endfor -%}
        server {{ networking.networks.services.hosts.dhcp | ansible.utils.ipaddr('address') }}
        upstream-interface bond1.{{ networking.networks.services.vid }}
    }
}
system {
    name-server {{ networking.networks.services.hosts.dns | ansible.utils.ipaddr('address') }}
    config-management {
        commit-revisions 100
    }
    host-name border
    login {
        banner {
            pre-login "Welcome to the ultimate border."
            post-login ""
        }
        user {{ security.admin.login }} {
            authentication {
                encrypted-password {{ security.admin.password }}
                public-keys main {
                    type {{ (security.admin.key | split(" "))[0]}}
                    key {{ (security.admin.key | split(" "))[1]}}
                }
            }
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility local7 {
                level debug
            }
        }
    }
}
vrf {
    {% for k,v in networking.networks.items() -%}
    {% if v.vid is defined -%}
    name {{ k }} {
        table {{ v.vid + 100 }}
        {% if v.access is defined -%}
        protocols {
            static {
            {% for a in v.access -%}
                route {{ networking.networks[a].network }} {
                {% set interface = 'pppoe0' if a == 'wan' else 'bond1.' ~ networking.networks[a].vid -%}
                    interface {{ interface }} {
                        vrf {{ a }}
                    }
                }
            {% endfor -%}
            }
        }
        {% endif -%}
    }
    {% endif -%}
    {% endfor -%}
}

nat {
        source {
        rule 5 {
            outbound-interface {
                name pppoe0
            }
            translation {
                address masquerade
            }
        }
    }
}

{# the dhcp-relay can't use a VRF right now #}
protocols {
    static {
        route {{ networking.networks.services.network }} {
            interface bond1.{{ networking.networks.services.vid }} {
                vrf services
            }
        }
    }
}

firewall {
    global-options {
        state-policy {
            established {
                action accept
            }
            related {
                action accept
            }
            invalid {
                action drop
                log
            }
        }
    }
    {%- include "snippets/0-network-groups.j2" -%}
    ipv4 {
        {% for a in networking.networks | dict2items -%}
            {% for b in networking.networks | dict2items -%}
                {% if a.key != b.key -%}
                    name {{ b.key ~ '-' ~ a.key }} {
                        {% set fwaction = 'drop' if b.key == 'wan' else 'reject' -%}
                        default-action {{ fwaction}}
                        default-log
                        {% include b.key ~ '-' ~ a.key ~ '.j2' ignore missing -%}
                    }
                {% endif -%}
            {% endfor -%}
        {% endfor -%}
    }
    
    {%- for a in networking.networks | dict2items -%}
    zone {{ a.key }} {
        default-action drop
        default-log
        {% if a.key == 'self' %}
        local-zone
        {% else %}
        {% if a.key == 'wan' %}
        interface pppoe0
        {% else %}
        interface bond1.{{ a.value.vid }}
        interface {{ a.key }}
        {% endif %}
        {% endif %}
        {% for b in networking.networks | dict2items -%}
        {% if a.key != b.key -%}
        from {{ b.key }} {
            firewall {
                name {{ b.key ~ '-' ~ a.key }}
            }
        }
        {% endif -%}
        {% endfor -%}
    }
    {% endfor -%}
    
}
