rule 60 {
    action accept
    protocol tcp_udp
    destination {
        port 53,853
        group {
            address-group DNS_SERVERS
        }
    }
}

rule 55 {
    action accept
    protocol tcp
    destination {
        port 80,443
        group {
            address-group DEBIAN_SERVERS
        }
    }
}

rule 70 {
    action accept
    protocol tcp
    destination {
        port 443
    }
    source {
        address {{ networking.networks.services.hosts.certificates | ansible.utils.ipaddr('address') }}
    }
}