ignore-unknown-settings=no
8bit-dns=no
allow-dnsupdate-from={{ server_ns_dhcp_servers | join(',') }}
api=no
api-key=
cache-ttl=20
default-ksk-algorithm=ecdsa256
default-ksk-size=0
default-soa-edit=inception-increment
default-ttl=1200
dnsupdate=yes
include-dir=/etc/powerdns/pdns.d
launch=gsqlite3
local-address={{ server_ns_listen_address }}
local-port=53
log-dns-details=yes
log-dns-queries=yes
log-timestamp=yes
logging-facility=0
loglevel=6
master=yes
primary=yes
query-local-address={{ server_ns_listen_address }}
query-logging=no
security-poll-suffix=
webserver=no
webserver-address=127.0.0.1
webserver-allow-from=127.0.0.1
webserver-hash-plaintext-credentials=no
webserver-loglevel=normal
webserver-password=
webserver-port=8081
gsqlite3-database={{ pdns_db_path }}
gsqlite3-dnssec=yes
gsqlite3-pragma-foreign-keys=yes
