{% include "_inc/zone-header.j2" %}
{# Since we don't need to use the RFC 2317, we'll put everything in the same $ORIGIN #}

$ORIGIN .

{% for k, v in server_ns_hosts.items() %}
{{ v.address | ansible.utils.ipaddr("revdns") }} PTR {{ k }}.{{ server_ns_domains.internal }}.
{% endfor %}
